html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --green: #63CFAF;
  --greenlight: #F0FAF8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-layout-sider {
  background: #fff !important;
}


.ant-layout-content {
  flex: auto;
  min-height: 88vh !important;
  background-color: white !important;
}

.ant-menu-item-selected {
  color: var(--green) !important;
}

.ant-menu-item::after {
  border-right: 3px solid var(--green) !important;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: var(--green) !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--greenlight)!important;
}
.ant-menu-submenu-selected {
  color: var(--green) !important;
}

.ant-menu-item .ant-menu-item-icon + span, .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span {
  font-size: 14px !important;
}